body {
  font-size: 16px;
  color: #77180d; font-weight: 600;
  background-color: #e8eded ;
 }
#header-nav {background-color: #f6b319;padding: 0;}
#header-nav h1 {color: #77180d;}
.container {max-width: 2000px;}
section {margin-right: 15px; margin-left: 15px; padding-right: 15px; padding-left: 15px; background-color: #acafaf;}
h2 {margin-top: 20px; margin-bottom: 40px;}
.navbar-brand a:hover, .navbar-brand a:focus {text-decoration: none;}
hr {margin: 0; background-color: black;}
ul {border: 1px solid black; background-color: #c7e0e0;}
.navbar-toggler { height: 33px;}
.navbar-toggler .icon-bar {
  background-color: #61122f;
  display: block; 
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggler .icon-bar + .icon-bar {
      margin-top: 4px;
}
#header-nav button {
  margin-top: 20px;  
}
#header-nav button.navbar-toggler {  /*kadertje rond button*/
  border: 1px solid #61122f; 
}
#header-nav button.navbar-toggler:focus {  /*kadertje rond button hetzelfde na click*/
  outline-style: none;
}

#nav-list /*de ul*/ a { /* Kleur vd links*/
  color: #951C49; text-align: center; 
} 

@media (max-width: 575px) {
	section {margin-right: 55px; margin-left: 55px;}
}

@media (max-width: 300px){
	.navbar> .container {height: 66px;} 
	.navbar-toggler {width: 22px; padding: 0; height: 22px;}
	.navbar-toggler .icon-bar {width: 19px; height: 1px;}
}
 
@media (max-width: 300px) and (min-width: 185px) {
	.navbar-brand h1 {font-size: 12vw; margin-top: 10px;}
}

@media (max-width: 184px) and (min-width: 155px) {
	.navbar-brand h1 {font-size: 10vw; margin-top: 13px;}
}

@media (max-width: 154px) {
	.navbar-brand h1 {font-size: 8vw; margin-top: 16px;}
}
