* {
  box-sizing: border-box; 
}

body {padding-left: 15px; 
  font-family: Comic sans MS, Helvetica, sans-serif;}

h1 {
  margin-bottom: 50px; text-align: center; font-size: 1.75em; }

p {
  width: 95%; 
  margin-left: auto; margin-right: auto;
  clear: right;
  margin-top: 3px; margin-bottom: 3px; 
}

/* Outer boxes style */
.box1 {background-color: #EEF0A0;}
.box2 {background-color: #F7A6C1;}
.box3 {background-color: #AFECF5;}

/* Title boxes style */
.p-small { height: auto;  text-align: center; margin-top: 0; float: right;
      border-left: 1px solid black; border-bottom: 1px solid black; color: white;
      max-width: 100px; min-width: 90px; font-size: 1.25em;}
.p-small1 {background-color: #94A51C;}
.p-small2 {background-color: #bf3939;}
.p-small3 {background-color: #0909F6;}

.row {
  width: 100%; 
}

/* Responsive styles */
.common {float: left; margin-bottom: 15px; border: 1px solid black; margin-right: 15px;}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-12 {
     margin-right: 25px; margin-left: 35px;
     width: calc(100% -15px);
  }
}
/********** Large devices only **********/
@media (min-width: 992px) {
   .col-lg-4 {
     width: calc(33.33% - 15px); 
  }}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
    width: calc(50% - 15px); 
  }
    .col-md-12 {
    width: calc(100% -15px);
  }
}
